<!doctype html>
<html lang="en">

  <head>

    <title>Blog - <%= posts[0].category %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <% include partials/styles.ejs %>
  </head>

  <body>
     <!-- Nav -->
    <% include partials/nav.ejs %>

    <!--CONTENT AREA **WIP**-->    

    
    <br><br><br><br>

    <div class="container-fluid">

      <div class="row justify-content-sm-center">
        <ol class="breadcrumb col-12">
          <li class="breadcrumb-item"><a href=".">Blog</a></li>
          <li class="breadcrumb-item active"><a href=""><%= posts[0].category %></a></li>
          <li class="breadcrumb-item"><a href="#">...</a></li>
        </ol>
      </div>

      <br>
      <h3 class="text-center"><%= posts[0].category %></h3>
      
      <hr>
      <div id="post-list-group" class="list-group">
        <% 
        var spacedTitle;

        posts.forEach(function(post){ 

                post.category = (post.category).toLowerCase();
                spacedTitle = post.title.split(' ').join('_');

                if(post.empty){ spacedTitle = '';}
        %>

        <a href="/blog/<%= post.category %>/<%= spacedTitle%>" class="list-group-item list-group-item-action active">
          <h4><%= post.title %></h4> -- Published On: <span><%= post.createdAt %></span>
        </a>

        <%
        }); 

        %>

      </div>

  </div>

<br><br>

    <!--END CONTENT AREA -->
  
    <!--Footer -->
    <% include partials/footer.ejs %>
    <!-- Scripts-->
    <% include partials/scripts.ejs %>
  </body>
</html>      