<!doctype html>
<html lang="en">

  <head>
    <title><%= post.title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <% include partials/styles.ejs %>
  </head>

  <body>
     <!-- Nav -->
    <% include partials/nav.ejs %>
     

    <br><br><br><br>

    <div class="container-fluid">

      <!--Bread Crumbs -->

      <div class="row justify-content-sm-center">
        <ol class="breadcrumb col-12">
          <li class="breadcrumb-item"><a href="..">Blog</a></li>
          <li class="breadcrumb-item"><a href="/blog/<%= post.category.toLowerCase() %>"><%= post.category %></a></li>
          <li class="breadcrumb-item active"><%= post.title %></li>
        </ol>
      </div>

      <!--CONTENT AREA **WIP**-->   

      <main class="row justify-content-sm-center">
        <div class="card border-danger col-sm-10">
          <div class="card-body text-success">
              <article>
                <header class="text-center">
                    <h2 class="text-primary"><%= post.title %></h2> 
                    <strong>Published:</strong> <em><time pubdate="pubdate"><%= post.createdAt %></time></em>
                </header>
                <span class="text-chalk"><%= post.body %></span>
                <footer class="text-center">Author: <cite title="<%= post.title %>"><%= post.author %></cite></footer>
              </article>
          </div>
        </div>

        <!--Sidebar, Article Navigation (hide on xs devices) -->

    <div class="list-group col-sm-2 d-none d-sm-block">
        <a href="#top" class="list-group-item list-group-item-action active">
          Article Top
        </a> <!-- Inject link per section in article -->
        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in
        </a>
        <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus
        </a>
    </div>

     
    </main>

  </div>

<br><br>

    <!--END CONTENT AREA -->
  
    <!--Footer -->
    <% include partials/footer.ejs %>
    <!-- Scripts-->
    <% include partials/scripts.ejs %>
  </body>
</html>