<!doctype html>
<html lang="en">

  <head>
    <title>Gregory Wolfe - Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Styles -->
    <% include partials/styles.ejs %>
  </head>

  <body>
     <!-- Nav -->
    <% include partials/nav.ejs %>

    <!--CONTENT AREA **WIP**-->    

    <!--<% include partials/comingsoon.ejs %> -->
    <br><br><br><br>

    <div class="container-fluid">

      <div class="row justify-content-sm-center">
        <ol class="breadcrumb col-12">
          <li class="breadcrumb-item active"><a href="">Blog</a></li>
          <li class="breadcrumb-item"><a href="#">...</a></li>
        </ol>
      </div>

    <div class="row justify-content-sm-center">
      <!-- category.description  category.image category.imgalt category.link-->
  <% categories.forEach(function(category){ %>
    
    <div class="col-12 col-sm-6 col-md-4">
    <div class="card border-primary mb-3 cat-card" >
      <a href="/blog/<%= (category.category).toLowerCase() %>">
      <img class="card-img-top image-rezponsive mx-auto" src="<%= category.image %>" alt="<%= category.imgalt %>">
    </a>
      <div class="card-body text-primary">
        <a href="/blog/<%= (category.category).toLowerCase() %>"><h4 class="card-title"><%= category.category %></h4></a>
        <p class="card-text"><%= category.description %></p>
      </div>
    </div>
    </div>

  <%
      }); 
  %>

    </div>

  </div>

<br><br>

    <!--END CONTENT AREA -->
  
    <!--Footer -->
    <% include partials/footer.ejs %>
    <!-- Scripts-->
    <% include partials/scripts.ejs %>
  </body>
</html>