<!DOCTYPE html>
<html>
<head>
	<title>EJS Templating</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<!-- Including Partial Template -->
	<% include partials/nav.ejs %>
	<h1>You requested a template named <%= name %></h1>
	<p>
		<ul>
			<strong><li>Age:  <%= info.age %></li></strong>
			<strong><li>Favorite Food:  <%= info.food %></li></strong>
			<strong><li>Speaks:  <%= info.language %></li></strong>
		</ul>
	</p>

<!-- Scripting logic can be used within the EJS template. -->
	<h3>Hobbies Include:</h3>
	<p>
		<ul>
			<% 
				info.hobbies.forEach(function(item){
			%>
				<li><%= item %></li>
			<%	
				});
			%>
		</ul>
	</p>

</body>
</html>